<form method="post" action="{{ path('activity_delete', {'id': activity.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette activité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button class="btn btn-success" style="margin:2px">Delete</button>
</form>
